Library/
Temp/
UnityVS.Unity3D-Factory-Example.CSharp.csproj
UnityVS.Unity3D-Factory-Example.sln
Assets/UnityVS/
Assets/UnityVS.meta
obj/Debug/UnityVS.Unity3D-Factory-Example.CSharp.csproj.FileListAbsolute.txt
